root = true

[*]
charset = utf-8

[*.cs]

# Naming rule violation
dotnet_diagnostic.IDE1006.severity = error

# Require explicit modifiers for members
dotnet_style_require_accessibility_modifiers = always:error

#### C# Naming Conventions ####
### Styles ###
dotnet_naming_style.camelCase.capitalization = camel_case

dotnet_naming_style._camelCase.capitalization = camel_case
dotnet_naming_style._camelCase.required_prefix = _

dotnet_naming_style.PascalCase.capitalization = pascal_case

# public fields must be camelCase
dotnet_naming_symbols.public_fields.applicable_kinds = field
dotnet_naming_symbols.public_fields.applicable_accessibilities = public
dotnet_naming_rule.public_fields_must_be_camel_case.symbols = public_fields
dotnet_naming_rule.public_fields_must_be_camel_case.style = camelCase
dotnet_naming_rule.public_fields_must_be_camel_case.severity = error

# private fields must be camelCase and prefixed with an underscore
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_rule.private_fields_must_be_camel_case_and_prefixed_with_an_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_must_be_camel_case_and_prefixed_with_an_underscore.style = _camelCase
dotnet_naming_rule.private_fields_must_be_camel_case_and_prefixed_with_an_underscore.severity = error

# static readonly fields must be PascalCase
dotnet_naming_symbols.static_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.static_readonly_fields.applicable_accessibilities = *
dotnet_naming_symbols.static_readonly_fields.required_modifiers = static,readonly
dotnet_naming_rule.static_readonly_fields_must_be_pascal_case.symbols = static_readonly_fields
dotnet_naming_rule.static_readonly_fields_must_be_pascal_case.style = PascalCase
dotnet_naming_rule.static_readonly_fields_must_be_pascal_case.severity = error

# Const fields must be PascalCase
dotnet_naming_symbols.const_fields.applicable_kinds = field
dotnet_naming_symbols.const_fields.applicable_accessibilities = *
dotnet_naming_symbols.const_fields.required_modifiers = const
dotnet_naming_rule.const_fields_must_be_pascal_case.symbols = const_fields
dotnet_naming_rule.const_fields_must_be_pascal_case.style = PascalCase
dotnet_naming_rule.const_fields_must_be_pascal_case.severity = error

# Properties mut be PascalCase
dotnet_naming_symbols.properties.applicable_kinds = property
dotnet_naming_symbols.properties.applicable_accessibilities = *
dotnet_naming_rule.properties_must_be_pascal_case.symbols = properties
dotnet_naming_rule.properties_must_be_pascal_case.style = PascalCase
dotnet_naming_rule.properties_must_be_pascal_case.severity = error
